<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/direitos.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    
    <title>SOBRE - DIREITOS</title>
</head>
<body>

  <div id="grad1">
    <div id="grad2">
      <header>
        <div class="box">
            <h1>DIREITOS</h1>
        </div>
        <div class="box">
            <a href="/"><h1 class="logo"> SEGI </h1></a>
        </div>
      </header>

      <section class="flexR">
        <section class="flexC">
            <div class="container reveal" id="rule1">
                <h1>Rule 1</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique delectus, quidem eveniet eius ducimus repudiandae!</p>
            </div>
                <div class="container reveal" id="rule2">
                    <h1>Rule 2</h1>
                    <p>Molestias dolore, aperiam voluptatibus beatae, reiciendis provident dolorem aliquam accusamus dicta placeat minus sint. Sint!</p>
                </div>
            <div class="container reveal" id="rule3">
                <h1>Rule 3</h1>
                <p>Repellat ullam quaerat quam voluptatum iusto officiis labore iste ea earum, velit natus soluta sunt.</p>
            </div>
                <div class="container reveal" id="rule4">
                    <h1>Rule 4</h1>
                    <p>Inventore quisquam nobis et, optio repellendus voluptates dolore officiis, illo unde, aliquam deserunt sapiente incidunt.</p>
                </div>
            <div class="container reveal" id="rule5">
                <h1>Rule 5</h1>
                <p>Aut incidunt odit architecto autem esse corrupti mollitia veritatis ut ex magnam? Tempora, natus voluptatum.</p>
            </div>
                <div class="container reveal" id="rule6">
                    <h1>Rule 6</h1>
                    <p>Tempora totam officiis temporibus mollitia fugiat porro assumenda ad possimus. Amet odit sapiente excepturi ipsa.</p>
                </div>
            <div class="container reveal" id="rule7">
                <h1>Rule 7</h1>
                <p>Adipisci illo maiores laudantium? Numquam aspernatur fugiat nobis? At saepe odio praesentium velit architecto alias?</p>
            </div>
                <div class="container reveal" id="rule8">
                    <h1>Rule 8</h1>
                    <p>Repudiandae, quis sed! Saepe facere dolor, debitis molestias maiores animi deleniti a labore! Tenetur, autem!</p>
                </div>
            <div class="container reveal" id="rule9">
                <h1>Rule 9</h1>
                <p>Quia consectetur officiis accusantium quis nisi? Rerum quo nostrum repudiandae nemo laborum odio beatae quidem.</p>
            </div>
        </section>
      </section>

      <footer>
          <div class="ForTitle">
              <h2>SEGI <i>since 2024 ©</i></h2>
          </div>
          <div class="links">
              <ul>
                  <li>
                      <a href='/ERP'       class="JOST goTo">Sobre</a>
                      <a href='/quemSomos' class="JOST goTo">Contato</a>
                      <a href='/direitos'  class="JOST goTo">Direitos</a>
                      <a href='/quemSomos' class="JOST goTo">Quem Somos</a>
                  </li>
              </ul>
          </div>
      </footer>

      <!-- END BACKGROUND -->
    </div>
  </div>
    <!-- BODY_HTML -->
</body>
    <!-- ELEMENTS_ANIMATE -->
        <script src="./JS/reveal.js"></script>
        <script src="./JS/backToTop.js"></script>
</html>