<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./CSS/style.css">
      <link rel="stylesheet" href="./CSS/erp.css">
    <title>SOBRE - ERP</title>
</head>
<body>

  <div id="grad1">
    <div id="grad2">
      <script src="./JS/backToTop.js"></script>
      <header>
        <div class="box">
            <h1>ERP</h1>
        </div>
        <div class="box">
            <a href="/"><h1 class="logo"> SEGI </h1></a>
        </div>
      </header>

      <section class="flexR centralize">
        <div class="flexC alignCenter colum">
          <div class="conteiner_img">
            <img src="" alt="imagem Ilustrativa"/>
          </div>
          <button id="tutorial" class="btn centralize"><p>INICIAR TUTORIAL</p></button>
        </div>
        <div class="flexC colum">
          <div class="toText">
            <p class="M_Plus">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, voluptatem ducimus laboriosam, corporis ex officiis et dolorem sit a est id debitis modi sapiente nesciunt sint quam minus! Odio, asperiores!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, voluptatem ducimus laboriosam, corporis ex officiis et dolorem sit a est id debitis modi sapiente nesciunt sint quam minus! Odio, asperiores!
            </p>
            <p class="JOST">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, voluptatem ducimus laboriosam, corporis ex officiis et dolorem sit a est id debitis modi sapiente nesciunt sint quam minus! Odio, asperiores!
            </p>
          </div>
        </div>
      </section>

      <footer>
          <div class="ForTitle">
              <h2>SEGI <i>since 2024 ©</i></h2>
          </div>
          <div class="links">
              <ul>
                  <li>
                    <a href='/ERP'       class="JOST goTo">Sobre</a>
                    <a href='/quemSomos' class="JOST goTo">Contato</a>
                    <a href='/direitos'  class="JOST goTo">Direitos</a>
                    <a href='/quemSomos' class="JOST goTo">Quem Somos</a>
                  </li>
              </ul>
          </div>
      </footer>

      <!-- END BACKGROUND -->
    </div>
  </div>
  <script src="./JS/backToTop.js"></script>
    <!-- BODY_HTML -->
</body>
</html>