<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./CSS/style.css">
  <link rel="stylesheet" href="./CSS/initial.css">
    <title>SEGI</title>
</head>
<body>

  <div id="grad1">
    <div id="grad2">
        <script src="./JS/backToTop.js"></script>
      <header>
            <div class="box">
              <a href="#"><h1 class="logo"> SEGI </h1></a>
            </div>
            <div class="box">
                <button id="quemSomos" class="btn centralize">QUEM SOMOS?</button>
                <button id="ERP" class="btn centralize">ERP</button>
                <button id="academia" class="btn centralize">ACADEMIA</button>
            </div>
      </header>

      <section class="flexR spaceAround">
          <div class="content flexC">
              <div class="contentTitle">
                  <h1 class="K2D">SEGI</h1>
              </div>
              <div class="contentTxt">
                  <p><strong>S</strong>imulador <strong>E</strong>ducacional de </br> <strong>G</strong>estão   <strong>I</strong>ntegrada</p>
              </div>
          </div>
          <div class="login">
              <button id="login" class="K2D btn centralize">
                L O G I N
              </button>
          </div>
      </section>
      <footer>
          <div class="ForTitle">
              <h2>SEGI <i>since 2024 ©</i></h2>
          </div>
          <div class="links">
              <ul>
                  <li>
                      <a href='/ERP'       class="JOST goTo">Sobre</a>
                      <a href='/quemSomos' class="JOST goTo">Contato</a>
                      <a href='/direitos'  class="JOST goTo">Direitos</a>
                      <a href='/quemSomos' class="JOST goTo">Quem Somos</a>
                  </li>
              </ul>
          </div>
      </footer>
      
      <!-- END BACKGROUND -->
    </div>
  </div>
    <!-- BODY_HTML -->
</body>
    <script src="./JS/goTo.js"></script>
</html>