<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/somos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QUEM SOMOS</title>
</head>
<body>
    <div id="grad1">
        <div id="grad2">
            <script src="./JS/backToTop.js"></script>
            <header>
                <div class="box">
                    <h1>QUEM SOMOS</h1>
                </div>
                <div class="box">
                    <a href="/"><h1 class="logo"> SEGI </h1></a>
                </div>
            </header>
            <section class="flexC">
                <div class="team">
                    <h2 class="K2D">EQUIPE LOGISTICA</h2>

                    <div class="flexR">
                        <div class="flexR person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team">
                    <h2 class="K2D">EQUIPE WEB_DEV</h2>

                    <div class="flexR">
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="team">
                    <h2 class="K2D">DIREÇÃO</h2>

                    <div class="flexR">
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                        <div class="person">
                            <div class="card_img">
                                <div class="prsnNm">
                                    <h3 class="K2D">NOME DO INTEGRANTE</h3>
                                </div>
                                <img src="" alt="">
                            </div>
                            <div class="explain">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa sapiente numquam et, laborum ducimus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
    <footer>
        <div class="ForTitle">
            <h2>SEGI <i>since 2024 ©</i></h2>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href='/ERP'       class="JOST goTo">Sobre</a>
                    <a href='/quemSomos' class="JOST goTo">Contato</a>
                    <a href='/direitos'  class="JOST goTo">Direitos</a>
                    <a href='/quemSomos' class="JOST goTo">Quem Somos</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- END BACKGROUND -->
    </div>
</div>
    <script src="./JS/backToTop.js"></script>
    <!-- BODY_HTML -->
</body>
</html>